<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content below * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * Delete the template below * * * * * * * * * * -->
<!-- * * * * * * * to get started with your project! * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->



<!-- Toolbar -->
<div class="toolbar" >
    <div class="header-div" routerLinkActive="active" fxLayoutAlign="center center">
        <a [routerLink]="['/news']" ><mat-icon>newspaper</mat-icon><div>第一堂-新聞</div></a>
    </div>
    <div class="header-div" routerLinkActive="active" fxLayoutAlign="center center">
        <a [routerLink]="['/forms']" ><mat-icon>account_box</mat-icon><div>第二堂-預約表單</div></a>
    </div>
    <div class="header-div" routerLinkActive="active" fxLayoutAlign="center center">
        <a [routerLink]="['/menus']" ><mat-icon>restaurant_menu</mat-icon><div>第三堂-菜單</div></a>
    </div>
</div>


<div class="content">
    <router-outlet></router-outlet>
</div>


